background: #9370DB url("images(3).jpg")


body{
   background-color:#8A2BE2;
}
p{ 
  color:#FFF0F5;
}
h1{
   color:#FFF0F5;
}
h2{
 color:#FFF0F5;
}
a {
 color:#FFF0F5;
}
h3{
 color:#FFF0F5;
}
li{
color:#FFF0F5;
}
@media screen and (max-width:450px){
 body{
    font-size:20px;
    background-size: 50%;
 }
}
