background: ##8A2BE2 url("images(3).jpg") no-repeat right top fixed;


body{
   background-color:#8A2BE2;
}
p{ 
  color:#FFF0F5;
}
h1{
   color:#FFF0F5;
}
h2{
 color:#FFF0F5;
}
a {
 color:#FFF0F5;
}
h3{
 color:;
}
li{
color:#FFF0F5;
}
@media screen and (max-width:450px){
 body{
    font-size:30px;
    background-size: 100%;
 }
}
